/*768px --> 1023px*/
.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2*24px);
  z-index: auto;
  justify-content: space-between;
  margin:  88px 24px 0 24px;
  padding: 0;
}


/*320px --> 767px*/
@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    margin:  64px 0 0 0;
  }
}

/*1024px --> 1279px*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places { 
    width: calc(100% - 2*48px);
    margin:  92px 48px 0 48px;
  }
}

/*1280px --> ~px*/
@media screen and (min-width: 1280px)  {
  .places { 
    width: calc(100% - 2*148px);
    margin:  92px 148px 0 148px;
  }
}