/*768px --> 1023px*/
.header {
  display: flex;
  width: calc(100% - 2*24px);
  z-index: auto;
  justify-content: space-between;
  margin:  0 auto;
  }

/*1024px --> ~px*/
@media screen and (min-width: 1024px) {
  .header { 
    width: calc(100% - 2*48px);
  }
}


/*320px --> 767px*/
@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 2*16px);
  }
}
