/*1024px --> 1279pxpx*/
.cover {
  margin: 92px auto 0;
  width: 1024px;
  height: 640px;
  z-index: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*320px --> 767px*/
@media screen and (max-width: 767px) {
  .cover {
    margin: 66px auto 0;
    width: 320px;
    height: 200px;

  }
}

/*768px --> 1023px*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .cover {
    margin: 90px auto 0;
    width: 768px;
    height: 480px;
  }
}

/*1279px --> ~px*/
@media screen and (min-width: 1279px) {
  .cover {
    width: 1184px;
    height: 740px;
  }
}